.product-card {
  border-radius: 10px !important;
  border: none !important;
  transition: all 0.2s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
